.header{
  text-align: center;
  font-family: 'Faster One', cursive;
  font-size: 60px;
  background: rgb(207, 70, 20);
  border-radius: 20px;
  padding-top:40px;
  padding-bottom: 40px;
  color: black;
}
body{
  background-color: rgb(22, 146, 22);
  background-size: cover;
}
.about{
  font-family: 'Faster One', cursive;
  font-size: 45px;
  color: black;
  text-decoration-line: underline;
}
.border-right{

  border-right: 2px solid red;
  
  height:500px;
  
  width:500px;
  
  }
.gameplay{
  font-family: 'Nosifer', cursive;
  font-size: 30px;
  color:rgb(167, 29, 29);
  text-decoration-line: underline;
}
.gameplay-paragraph{
  font-size: 17px;
  font-family: 'Berkshire Swash', cursive;
  color: black;
}
.gameplay-paragraph b{
  color: rgb(0, 0, 0);
}
.col-md-3{
  font-family: 'Berkshire Swash', cursive;
  font-size: 17px;
  color: black;
}
.col-md-3 b{
  color: black;
}
.options{
  font-family: 'Nosifer', cursive;
  font-size: 25px;
  color:rgb(167, 29, 29);
  text-decoration-line: underline;
  text-decoration-color: black;
}
.rules{
  font-family: 'Nosifer', cursive;
  font-size: 25px;
  color:rgb(129, 22, 22);
  text-decoration-line: underline;
}
.listing{
  font-size: 17px;
  font-family: 'Berkshire Swash', cursive;
  color: black;

}
.gameplay-rules{
  padding-left: 80px;
}
#dice{
  padding-left: 50px;
  text-align: center;
}
.note{
  font-family: 'Oleo Script', cursive;
  font-size: 20px;
  color: black;
}
.play{
  font-family: 'Nosifer', cursive;
  font-size: 25px;
  color: rgb(167, 29, 29);
  text-decoration-line: underline;
}
.player1{
  font-size: 25px;
  font-style: italic;
  text-decoration-line: underline;
  color: black;
}
.player2{
  font-size: 25px;
  font-style: italic;
  text-decoration-line: underline;
  color: black;
}
.total1{
  font-size: 7px;
  color: black;
}
.total2{
  font-size: 7px;
  color: black;
}
#total1{
  color:black;
  font-size: 30px;
}
#total2{
  color:black;
  font-size: 30px;
}
#buttons{
  font-size: 23px;
}
#buttons2{
  font-size: 23px;
}
.panel-footer{
  padding-top: 70px;
  padding-bottom: 95px;
  width:100%;
  background: rgb(207, 70, 20);
  border-radius: 15px;
}
#end{
  font-size: 20px;
}
#github{
  font-size: 20px;
}
#more-info{
  font-size: 20px;
}